<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Gloria+Hallelujah|Indie+Flower|Architects+Daughter' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ asset('bundles/machouillesite/css/layout.css') }}"/>
<title>Footer - Machouille</title>
</head>


<body>
   <div class="header">
        <div class="color1"></div>
	    <div class="color2"></div>
	    <div class="color3"></div>
            <div class="color4">
            <div class="container">
                <div class="header--logo">
                    <a href="#"><img src="img/logo_machouille.png"></a>
                    <h1>MACHOUILLE</h1>
                </div>
                
                <div class="header--client">
                    <span class="header--account"><a href="#">Compte</a></span><br>
                    <span class="header--panier"><a href="#"> Panier</a></span>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
        <div class="color1"></div>
	    <div class="color2"></div>
	    <div class="color3"></div>
	    <div class="header--menu">
	        <div class="container">
	           <nav>
				<ul id="menu">
					<li><a href="accueil.html" class="main"> Accueil</a></li>
					<li><a href="#" class="main"> Langue </a>
						<ul class="menu_drapeau">
							<li><a href="" class="test"><img
									src="img/drapeau/fr.png" class="drapeau" />Francais</a></li>
							<li><a href="" class="test"><img
									src="img/drapeau/gb.png" class="drapeau_gb" />Anglais</a></li>
							<li><a href="" class="test"><img
									src="img/drapeau/de.png" class="drapeau" />Allemand</a></li>
							<li><a href="" class="test"><img
									src="img/drapeau/br.png" class="drapeau" />Bresilien</a></li>
						</ul>
				    </li>
					<li><a href="#" class="main"> Chewing-Gum </a>
						<ul class="menu_CG">
							<li><a href="CG_Fruités.html" class="test">Fruites</a></li>
							<li><a href="#" class="test">Tri-gout</a></li>
							<li><a href="#" class="test">Caramel</a></li>
						</ul></li>
					<li><a href="Commentaire.html" class="main"> Avis </a></li>
					<li><a href="inscription.html" class="main"> Inscription </a></li>
					<li><a href="#" class="main"> Contact </a></li>
				</ul>
				</nav>
	        </div>
	        <div style="clear:both"></div>
	    </div>
    </div>
    
    
	{% blockbody %}
	{% endblock %}
    
    
    <div class="footer">
        <div class="color1"></div>
	    <div class="color2"></div>
	    <div class="color3"></div>
            <div class="color4">
            <div class="container">
                <div class="partie_gauche">
				<img src="img/logo_machouilleNB.png" class="logo_machouilleNB"></img>
				<div class="coordonnees">
					<h1 class="titre_coord">Nos coordonnées</h1>
					<p>
						Entreprise Machouille <br /> 12 avenue de Versailles <br /> 75
						016 Paris <br /> Tél : 06 58 51 39 91
					</p>
					<div class="conteneur_logo">
						<a href="#"><img src="img/logo_twitter2.png" class="logo_twitter" style="float: right" /></a> 
						<a href="#"><img src="img/logo_google.png" class="logo_google" style="float: right" /></a> 
						<a href="#"><img src="img/logo_facebook.png" class="logo_fb" style="float: right" /></a>
					</div>
				</div>

			    </div>

                <div class="partie_droite">
                    <h1>Nos produits</h1>

                </div>
                <div style="clear:both"></div>
            </div>
        </div>
        <div class="color1"></div>
	    <div class="color2"></div>
	    <div class="color3"></div>
	    <div class="footer--menu">
	        <div class="container">
	           <ul class="menu_footer">
				<li><a href="#">Condition générales de vente</a></li>
				<li>-<a href="#"> Mentions légales </a></li>
				<li>-<a href="#"> Plan du site </a></li>
				<li>-<a href="#"> Presse </a></li>
				<li>- Copyright @2015 NAMYODES - Tous droits réservés</li>
				<li class="mangerbouger">Pour votre santé, pratiquez une
					activité physique régulière : <a href="#">www.mangerbouger.fr</a>
				</li>
			    </ul>
	        </div>
	        <div style="clear:both"></div>
	    </div>
    </div>
</body>
</html>